### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Define Constants using Classes
# Note that the bootcamp hasn't covered classes yet, but I'm using them anyway.
class columns:
    purchaseID = "Purchase ID"
    screenName = "SN"
    age = "Age"
    gender = "Gender"
    itemID = "Item ID"
    itemName = "Item Name"
    itemPrice = "Price"

## Player Count

* Display the total number of players

In [3]:
playerCount = purchase_data[columns.screenName].nunique()
playerCountDF = pd.DataFrame({"Total Players" : [playerCount]})
playerCountDF

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Unique Items
numItems = len(purchase_data[columns.itemID].unique())

In [5]:
# Average Purchase Price
avgPurchasePrice = purchase_data[columns.itemPrice].mean()

In [6]:
# Total Number of Purchases
numPurchases = purchase_data[columns.purchaseID].count()

In [7]:
# Total Revenue
totalRev = purchase_data[columns.itemPrice].sum()

In [8]:
# Summary Table
class purchaseSumCols:
    numUniqueItems = "Number of Unique Items"
    avgPurchasePrice = "Average Purchase Price"
    totalNumPurchases = "Total Number of Purchases"
    totalRevenue = "Total Revenue"

purchaseSummaryDF = pd.DataFrame({
    purchaseSumCols.numUniqueItems : [numItems],
    purchaseSumCols.avgPurchasePrice : avgPurchasePrice,
    purchaseSumCols.totalNumPurchases : numPurchases,
    purchaseSumCols.totalRevenue : totalRev
})

# Format Data
def formatCurrencyColumn(df, columnLabel):
    df[columnLabel] = df[columnLabel].astype("float").map("${:,.2f}".format)
    return df

purchaseSummaryDF = formatCurrencyColumn(purchaseSummaryDF, purchaseSumCols.avgPurchasePrice)
purchaseSummaryDF = formatCurrencyColumn(purchaseSummaryDF, purchaseSumCols.totalRevenue)

purchaseSummaryDF

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Define Constants
class demoCols:
    percent = "Percentage of Players"
    count = "Total Count"
    gender = columns.gender

In [10]:
# Define Functions
def getGenders():
    return purchase_data[columns.gender].unique()

def getGenderDF(gender):
    return purchase_data.loc[purchase_data[columns.gender] == gender]

def getCount(gender):
    genderDF = getGenderDF(gender)
    count = genderDF[columns.screenName].nunique()
    return count
    
def getPercent(num, denom):
    return (num/denom) * 100
    
def getDemographic(gender):
    count = getCount(gender)
    percent = getPercent(count, playerCount)
    demographic = {
        demoCols.gender : gender,
        demoCols.count : count,
        demoCols.percent : percent 
    }
    return demographic

def formatPercentColumn(df, columnLabel):
    df[columnLabel] = df[columnLabel].astype("float").map("{:,.2f}%".format)
    return df

In [11]:
# Do Work
demographics = []
for gender in getGenders():
    demographic = getDemographic(gender)
    demographics.append(demographic)

In [12]:
# Create Summary Table
genderDemoDF = pd.DataFrame(demographics)

In [13]:
# Format Summary Table
genderDemoDF = genderDemoDF.sort_values(demoCols.gender)
genderDemoDF = genderDemoDF.set_index(demoCols.gender)
genderDemoDF = formatPercentColumn(genderDemoDF, demoCols.percent)
genderDemoDF.head()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Define Constants
class purchaseAnalysisCols:
    gender = columns.gender
    purchaseCount = "Purchase Count"
    avgPurchasePrice = "Average Purchase Price"
    totalPurchaseValue = "Total Purchase Value"
    avgPurcasePerPerson = "Avg Total Purchase per Person"

In [15]:
# Define Functions
def getPurchaseCount(df):
    return df[columns.purchaseID].nunique()

def getAvgPurchasePrice(df):
    return df[columns.itemPrice].mean()

def getTotalPurchaseValue(df):
    return df[columns.itemPrice].sum()

def getAvgPurchasePerPerson(df):
    gb = df.groupby(columns.screenName)
    totalDF = gb.sum()
    return totalDF[columns.itemPrice].mean()

def getPurchaseAnalysis(gender):
    df = getGenderDF(gender)
    
    purchaseCount = getPurchaseCount(df)
    avgPurchasePrice = getAvgPurchasePrice(df)
    totalPurchaseValue = getTotalPurchaseValue(df)
    avgPurchasePerPerson = getAvgPurchasePerPerson(df)
    
    analysis = {
        purchaseAnalysisCols.gender : gender,
        purchaseAnalysisCols.purchaseCount : purchaseCount,
        purchaseAnalysisCols.avgPurchasePrice : avgPurchasePrice,
        purchaseAnalysisCols.totalPurchaseValue : totalPurchaseValue,
        purchaseAnalysisCols.avgPurcasePerPerson : avgPurchasePerPerson
    }
    
    return analysis

In [16]:
# Do Work
purchaseAnalysises = []
for gender in getGenders():
    analysis = getPurchaseAnalysis(gender)
    purchaseAnalysises.append(analysis)

In [17]:
# Create Summary Table
purchaseAnalysisDF = pd.DataFrame(purchaseAnalysises)

In [18]:
# Format Summary Table
purchaseAnalysisDF = purchaseAnalysisDF.sort_values(purchaseAnalysisCols.gender)
purchaseAnalysisDF = purchaseAnalysisDF.set_index(purchaseAnalysisCols.gender)

currencyCols = [purchaseAnalysisCols.avgPurchasePrice,
                purchaseAnalysisCols.totalPurchaseValue,
                purchaseAnalysisCols.avgPurcasePerPerson]
for cols in currencyCols:
    purchaseAnalysisDF = formatCurrencyColumn(purchaseAnalysisDF, cols)

purchaseAnalysisDF.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
# Define Bins
columns.ageBin = "Age Range"
ageBinValues = [0, 9, 14, 19, 24, 29, 34, 39, 999]
ageBinLabels = ["<10", "10-14", "15-19", "20-24", 
                "25-29", "30-34", "35-39", "40+"]
purchase_data[columns.ageBin] = pd.cut(purchase_data[columns.age], ageBinValues, labels = ageBinLabels, include_lowest=False)

In [20]:
# Do Work
ageGB = purchase_data.groupby(columns.ageBin)

count = ageGB[columns.screenName].nunique()
percent = getPercent(count, playerCount)

In [21]:
# Create Summary Table
class ageDemoCols:
    count = "Total Count"
    percent = "Percentage of Players"

ageDemoDF = pd.DataFrame()
ageDemoDF[ageDemoCols.count] = count
ageDemoDF[ageDemoCols.percent] = percent

In [22]:
# Format Summary Table
ageDemoDF = formatPercentColumn(ageDemoDF, ageDemoCols.percent)
ageDemoDF

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# Define Constants
class purchaseAnalysisCols:
    purchaseCount = "Purchase Count"
    avgPurchasePrice = "Average Purchase Price"
    totalPurchaseValue = "Total Purchase Value"
    avgPurchasePerPerson = "Avg Total Purchase Per Person"

In [24]:
# Do Work
purchaseCount = ageGB[columns.purchaseID].count()
avgPurchasePrice = ageGB[columns.itemPrice].mean()
totalPurchaseValue = ageGB[columns.itemPrice].sum()

numPersons = ageGB[columns.screenName].nunique()
avgTotalPurchasePerPerson = totalPurchaseValue / numPersons

In [25]:
# Create Summary Table
purchaseAnalysisDF = pd.DataFrame()
purchaseAnalysisDF[purchaseAnalysisCols.purchaseCount] = purchaseCount
purchaseAnalysisDF[purchaseAnalysisCols.avgPurchasePrice] = avgPurchasePrice
purchaseAnalysisDF[purchaseAnalysisCols.totalPurchaseValue] = totalPurchaseValue
purchaseAnalysisDF[purchaseAnalysisCols.avgPurchasePerPerson] = avgTotalPurchasePerPerson

In [26]:
# Format Summary Table
currencyCols = [purchaseAnalysisCols.avgPurchasePrice,
                purchaseAnalysisCols.totalPurchaseValue,
                purchaseAnalysisCols.avgPurchasePerPerson]
for col in currencyCols:
    purchaseAnalysisDF = formatCurrencyColumn(purchaseAnalysisDF, col)
    
purchaseAnalysisDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
# Define Constants
class spendersCols:
    screenName = columns.screenName
    purchaseCount = "Purchase Count"
    avgPurchasePrice = "Average Purchase Price"
    totalPurchaseValue = "Total Purchase Value"

In [28]:
# Define Functions
def getSpendersGB():
    return purchase_data.groupby(columns.screenName)

def getTopFiveSpenders():
    spendersGB = getSpendersGB()
    totalSpentSeries = spendersGB[columns.itemPrice].sum()
    top5Series = totalSpentSeries.nlargest(5)
    return top5Series

def getTopFiveSpendersAnalysis(name, topFiveSeries):
    spendersGB = getSpendersGB()
    totalSpent = topFiveSeries[name]
    purchaseCount = spendersGB.get_group(name)[columns.purchaseID].count()
    avgPrice = spendersGB.get_group(name)[columns.itemPrice].mean()
    return {
        spendersCols.screenName: name,
        spendersCols.purchaseCount : purchaseCount,
        spendersCols.avgPurchasePrice : avgPrice,
        spendersCols.totalPurchaseValue : totalSpent
    }

In [29]:
# Do Work
topFiveSeries = getTopFiveSpenders()
topFiveAnalysises = []
for key in topFiveSeries.keys():
    topFiveAnalysis = getTopFiveSpendersAnalysis(key, topFiveSeries)
    topFiveAnalysises.append(topFiveAnalysis)

In [30]:
# Summary Table
topFiveAnalysisDF = pd.DataFrame(topFiveAnalysises)
topFiveAnalysisDF = topFiveAnalysisDF.set_index(spendersCols.screenName)
currencyCols = [spendersCols.avgPurchasePrice, spendersCols.totalPurchaseValue]
for col in currencyCols:
    topFiveAnalysisDF = formatCurrencyColumn(topFiveAnalysisDF, col)

topFiveAnalysisDF

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame